<!--
  templateType: global_partial
  label: Navon Therapy Footer
-->

<footer>
  <div class="container">
    <ul class="list-inline">
      <li><a href="#about">Home</a></li>
      <li class="footer-menu-divider">&sdot;</li>
      <li><a href="#biography">Biography</a></li>
      <li class="footer-menu-divider">&sdot;</li>
      <li><a href="#credentials">Credentials</a></li>
      <li class="footer-menu-divider">&sdot;</li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <p class="copyright">Copyright &copy; {{ current_year }} by Marc Navon, MSW, LICSW, MPH</p>
  </div>
</footer>
