<!--
  templateType: global_partial
  label: Modern Header with Svelte Navigation
-->

{# This is a navigation skipper used for accessibility to allow keyboard users the ability to skip the navigation and go
straight to the main content of a page. More information on the navigation skipper can be found here:
https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

<a class="navigation-skipper" href="#main-content">Skip to content</a>

{# Modern Header with Svelte Web Component #}
<header class="site-header">
  {% module "header_nav"
  path="../modules/header-nav.module",
  logo={
  "src": brand_settings.primaryLogo.src,
  "alt": brand_settings.primaryLogo.alt
  },
  navigation=menu("primary", "advanced_menu_navigation"),
  cta_text="Contact Us",
  cta_url={
  "href": "/contact"
  }
  %}
</header>