<!--
  templateType: page
  isAvailableForNewContent: true
  label: Appointment Scheduler
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container"
%}

  {# Appointment Scheduler #}
  {% dnd_section %}
    {% dnd_column
      width=12,
      offset=0
    %}
      {% dnd_row %}
        {% dnd_module path="../../modules/appointment-scheduler.module" %}
          {% module_attribute "title" %}Schedule an Appointment{% end_module_attribute %}
          {% module_attribute "description" %}Select your preferred date and time for a consultation{% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}
